
/*from PMWay*/
html,
body {
    height: 100%;

    background-color: #f5f5f5;


    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #337ab7; /* default link color */
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #23527c; /* hover link color */
    text-decoration: underline;
}

td {
    padding-left: 20px;
}

/*@media (max-width: 768px) {*/
/*    flux-header {*/
/*        padding-left: 16px;*/
/*        padding-right: 50px;*/
/*    }*/
/*}*/


.custom-button:hover {
    color: #fff !important;
}




/*.dropdown-menu {*/
/*    z-index: 50;*/
/*}*/


/*.custom-button:focus {*/
/*    background-color: #212529 !important; !* light gray background color *!*/
/*}*/

/*.custom-button:hover {*/
/*    background-color: transparent; !* or any other color you want *!*/
/*    color: #000; !* black text color *!*/

/*}*/

/*.content {*/
/*    padding-bottom: 300px; !* Increase the padding to match the footer height *!*/
/*}*/


